img{
    display: inline-block;
    

    width: 300px;
    height: 250px;
    padding: 10px;

}
 header section{
    background-color: black;
}
section div{
    text-decoration: none;
    display: block;
}